* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 900; }

body {
  font-family: 'Source Sans Pro', sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none; }

/*=======================*/
/*=======================*/
.header_top {
  background-color: #f5f7fa;
  padding: 10px 0; }

.header-top-left {
  float: left; }

.header-top-left ul li {
  float: left; }

.header-top-left ul li a {
  color: #506a85;
  font-size: 14px;
  transition: all 0.5s; }

.header-top-left ul li a:hover {
  color: #2cb9f1; }

.header-top-left ul li a span {
  padding-right: 6px; }

.header-top-left ul li:last-child {
  padding-left: 15px; }

.header-top-right {
  float: right; }

.header-top-right ul li {
  float: left;
  padding-left: 20px; }

.header-top-right ul li a {
  color: #506a85;
  transition: all 0.5s; }

.header-top-right ul li a:hover {
  color: #2cb9f1; }

.header_bottom {
  overflow: hidden;
  padding: 20px 0; }

.search-bar input {
  margin-top: -15px;
  transition: all 0.5s; }

.header-logo a {
  color: #506a85;
  text-decoration: none;
  font-size: 22px; }

.main-menu ul li {
  float: left;
  padding-right: 20px; }

.main-menu ul li a {
  color: #506a85;
  font-size: 18px;
  text-transform: capitalize;
  text-decoration: none; }

.main-menu ul li a:hover {
  transition: all 0.5s;
  color: #2cb9f1; }

.main-menu {
  display: inline-block;
  padding-top: 7px; }

.slicknav_menu {
  display: none; }

.search-area {
  padding-top: 7px; }

.search-bar {
  width: 85%;
  float: left;
  display: none;
  padding-top: 10px; }

.search-icon {
  float: right;
  width: 10%;
  text-align: center; }

.search-icon button {
  background: transparent;
  border: none;
  color: #506a85; }

.bannar-area {
  background-image: url(img/hbanner.jpg);
  text-align: center;
  padding-top: 130px;
  padding-bottom: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header-content h1 {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px; }

.header-content p {
  color: #a3b1bf;
  font-size: 24px;
  padding: 15px 8%; }

.header-content a {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background: #00bc9c;
  padding: 12px 30px;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  margin-top: 40px;
  border: 1px solid #00bc9c;
  transition: all 0.5s; }

.header-content a:hover {
  color: #2cb9f1;
  transition: all 0.5s;
  background: transparent;
  border: 1px solid #2cb9f1; }

.service-area {
  padding-top: 60px;
  padding-bottom: 50px; }

.service-title {
  text-align: center;
  padding-bottom: 40px; }

.service-title h2 {
  font-size: 44px;
  padding-bottom: 10px;
  color: #506a85; }

.service-title p {
  color: #73879c;
  font-size: 22px;
  font-weight: 400;
  padding: 0 16%; }

.single-service-icon {
  width: 22%;
  float: left; }

.single-service-content {
  float: left;
  width: 78%; }

.single-service-content h3 {
  color: #506a85;
  font-size: 26px;
  text-transform: capitalize; }

.single-service-content p {
  color: #506a85;
  font-size: 16px; }

.latest-work {
  padding-top: 60px;
  padding-bottom: 50px;
  background: #f2f5f7; }

.slider-title {
  text-align: center;
  padding-bottom: 40px; }

.slider-title h2 {
  color: #506a85;
  font-size: 44px; }

.slider-title p {
  color: #73879c; }

.single-slider {
  position: relative; }

.slide-content {
  position: absolute;
  top: 0;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 60px;
  color: #fff;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s; }

.slide-content::before {
  background: #506a85;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: -1; }

.single-slider:hover .slide-content {
  opacity: 1;
  visibility: visible; }

.owl-dots {
  text-align: center; }

.owl-dot.active {
  background: #2cb9f1 !important; }

.owl-dot {
  background: #506a85 !important;
  height: 12px;
  width: 12px;
  margin: 5px;
  border-radius: 30px; }

.slide-content h3 {
  font-size: 25px;
  text-transform: capitalize; }

.slide-content a {
  color: #fff;
  font-size: 20px; }

.want-to-work {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center; }

.work-content h2 {
  color: #506a85;
  font-size: 44px; }

.work-content p {
  color: #73879c;
  padding: 5px 25%; }

.work-content a {
  color: #fff;
  text-transform: uppercase;
  background: #00bc9c;
  padding: 12px 30px;
  border: 1px solid #00bc9c;
  transition: all 0.5s;
  text-decoration: none;
  border-radius: 3px;
  margin-top: 30px;
  display: inline-block; }

.work-content a:hover {
  color: #506a85;
  border: 1px solid #506a85;
  background: transparent; }

.blog_title {
  text-align: center;
  padding-bottom: 40px; }

.blog_title h2 {
  font-size: 44px;
  text-transform: capitalize;
  color: #506a85;
  padding-bottom: 15px; }

.blog_area {
  padding-top: 50px;
  padding-bottom: 50px; }

.blog_title p {
  color: #73879c; }

.blog-content img {
  width: 100%;
  transition: all 0.5s; }

.blog-content img:hover {
  transform: scale(1.2); }

.blog_img {
  overflow: hidden; }

.blog-content h3 {
  font-size: 22px;
  padding-top: 20px; }

.blog-content h3 a {
  text-decoration: none;
  color: #506a85;
  transition: all 0.5s; }

.blog-content h3 a:hover {
  color: #2cb9f1; }

.blog-content p {
  color: #73879c; }

.blog_btn {
  text-align: center;
  padding-top: 50px; }

.blog_btn a {
  text-decoration: none;
  color: #fff;
  background: #00bc9c;
  border: 1px solid #00bc9c;
  transition: all 0.5s;
  padding: 12px 30px;
  text-transform: uppercase;
  border-radius: 3px;
  display: inline-block; }

.blog_btn a:hover {
  background: transparent;
  color: #00bc9c; }

.blog-content > a {
  color: #506a85;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.5s; }

.blog-content a:hover {
  color: #2cb9f1; }

.footer_top {
  background: #2f4052;
  padding-top: 60px;
  padding-bottom: 50px; }

.footer_contact h3, .quick_link h3, .newsletter_area h3 {
  color: #fff;
  font-size: 22px;
  padding-bottom: 15px;
  text-transform: uppercase; }

.footer_contact p {
  color: #fff; }

.footer_contact ul {
  padding-top: 15px; }

.footer_contact ul li {
  color: #fff;
  padding-bottom: 5px; }

.footer_contact ul li span {
  padding-right: 10px; }

.quick_link ul li {
  transition: all 0.5s;
  padding-bottom: 5px; }

.quick_link ul li:hover {
  padding-left: 5px; }

.quick_link ul li a {
  color: #fff;
  text-transform: capitalize; }

.newsletter_area p {
  color: #fff;
  padding-bottom: 10px; }

.newsletter_content {
  position: relative; }

.newsletter_content > input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding-left: 8px;
  text-transform: capitalize;
  font-size: 15px;
  border: 1px solid #506a85; }

.newsletter_btn {
  position: absolute;
  top: 0;
  right: 0; }

.newsletter_btn input {
  background: #506a85;
  border: none;
  text-transform: uppercase;
  width: 90px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 40px;
  font-size: 15px;
  transition: all 0.5s;
  color: #fff; }

.newsletter_btn input:hover {
  color: #283645; }

.footer_btm {
  background: #283645;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px; }

/*# sourceMappingURL=style.css.map */
